:root {
    --white250: FAFAFA
    --grey0: 86868B

    --grey1:
    --grey2:
    --grey3:
    --grey4:


  --lightgray1: #C8C9C7;
  --color-accent: #3C95F9;
  --color-accent2: #0066CC;
}

// Make selected text
::selection {
  background: var(--color-accent);
  color: black;
}

body {
  background-color: white;
  color: black;
  font-family: Helvetica Neue, Helvetica, sans-serif; font-style: normal; font-variant: normal; font-weight: 600;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--grey0);
}

a:active {
  color: var(--color-accent2);
}

ul.horizontal {
  padding: 0 1em;
}

ul li {
  padding: 0 1em;
}

ul.horizontal li {
  display: inline-block;
}

.grid {
  display: grid;
  grid-template-rows: auto auto;
}

.accented {
  color: var(--color-accent);
}